#number-memory{
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        .start-game{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
        .stats{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:1rem;
            .actual-answer, .user-answer{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h2{
                    opacity: 0.5;
                }
                span{
                    font-size: 40px;
                }
            }
        }
    }
}

.wrong{
    color:black;
    text-decoration: line-through
}

