#sequence-test{
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        gap:1rem;
        .start-game{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            .game-btn{
                cursor: pointer;
            }
        }

        .game-over{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            svg{
                width: 100px;
                height: 100px;
            }
            .game-btn{
                cursor: pointer;
            }
        }
    }
}


.correct{
    background-color: #2573c1;
    animation-name: correct;
    animation-duration: 0.500s;
    animation-iteration-count: infinite;
    opacity: 0.5;
    z-index: 100;
}

@keyframes correct {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.incorrect{
    background-color: #2573c1;
    animation-name: incorrect;
    animation-duration: 0.500s;
    animation-iteration-count: 1;
    opacity: 0.75;
    z-index: 100;
}

@keyframes incorrect {
    0% {
        background-color: #2573c1;
    }
    50% {
        background-color: #e64949;
    }
    100% {
        background-color: #2573c1;
    }
}


