#verbal-memory .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 1rem;
}
#verbal-memory .container .start-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#verbal-memory .container .start-game .game-btn {
  cursor: pointer;
}
#verbal-memory .container .game-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#verbal-memory .container .game-over .game-btn {
  cursor: pointer;
}

@keyframes pulse-faint {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}