.game-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.game-grid .cell {
  height: 110px;
  width: 110px;
  background-color: #2573c1;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}

.white {
  background-color: #2573c1;
  animation-name: color;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes color {
  0% {
    background-color: #2573c1;
  }
  50% {
    background-color: #FFFFFF;
  }
  100% {
    background-color: #2573c1;
  }
}