*, *::after, *::backdrop{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

.container{
  max-width: 970px;
  margin: 0 auto;
}

.game-container{
  height: 540px;
}

.game-bg{
  background-color: #2b87d1;
}

.game-btn{
  border-style:none;
  background-color: #ffd154;
  padding: 12px 30px;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
}

a{
  text-decoration: none;
}

h1{
  font-size: 70px;
  font-weight: lighter;
}

h2{
  font-size: 20px;
  font-weight: lighter;
}

p,span{
  font-size: 18px;
}

svg{
  animation: 1s ease-in-out 0s infinite alternate none running pulse-faint;
}

@keyframes pulse-faint {
  0%{
      opacity: 0.6;
  }
  100%{
      opacity: 1;
  }
}

@keyframes correct {
  0% {
      opacity: 1;
  }
  20% {
      opacity: 0.2;
  }
  100% {
      opacity: 1;
  }
}

.incorrect{
  background-color: #2573c1;
  animation-name: incorrect;
  animation-duration: 0.30s;
  animation-iteration-count: 1;
  opacity: 0.75;
  z-index: 100;
}

@keyframes incorrect {
  0% {
      background-color: #2573c1;
  }
  50% {
      background-color: #e64949;
  }
  100% {
      background-color: #2573c1;
  }
}
