#reaction-time{
    cursor: pointer;

    .hero{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }
}

.set{
    background-color: rgb(255, 76, 76) !important;
}

.go{
    background-color: rgb(49, 248, 49) !important;
}